body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.form-section, .inventory-section, .purchase-section, .receipt-section, .orders-section {
    padding: 2em;
    margin: 2em auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f1f1f1;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.flashes li {
    padding: 0.5em;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 5px;
    margin-bottom: 0.5em;
}



/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.form-section, .inventory-section {
    padding: 2em;
    margin: 2em auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f1f1f1;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
} */