<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
[_{{{CITATION{{{_1{](https://github.com/henriquegmendes/url-shortener-alfred/tree/bb8fda4cedbf8bee33efa5830fece6ad80841440/documentation%2Fredirect-to-url.md)[_{{{CITATION{{{_2{](https://github.com/bobo541574/inv-manage-system-php/tree/e124f8d21f19ee317da34169ef638c18e685aca3/public_html%2Fproducts.php)[_{{{CITATION{{{_3{](https://github.com/Krishna1705/INVENTORY_SYSTEM_OOP_PHP_MYSQLI_JQUERY_AJAX_BOOTSTRAP/tree/47a3fc9c962881ba382c8ca48d2432b1345f3bc7/manage_brands.php)[_{{{CITATION{{{_4{](https://github.com/PlaidWeb/publ-site/tree/70e3fa1fc0801f04f5cab8defb0780a5e523cf71/content%2Fmanual%2Ftemplating.md)[_{{{CITATION{{{_5{](https://github.com/Kaung-Pyae-Min-Thein/PHP-core-EX-Online-Book-Store-/tree/fd2785220dfcef05d5ae50174e01f343006528e2/admin%20permission%2Fedit-item.php)


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit[_{{{CITATION{{{_1{](https://github.com/bobo541574/inv-manage-system-php/tree/e124f8d21f19ee317da34169ef638c18e685aca3/public_html%2Fproducts.php)[_{{{CITATION{{{_2{](https://github.com/Krishna1705/INVENTORY_SYSTEM_OOP_PHP_MYSQLI_JQUERY_AJAX_BOOTSTRAP/tree/47a3fc9c962881ba382c8ca48d2432b1345f3bc7/manage_brands.php)[_{{{CITATION{{{_3{](https://github.com/PlaidWeb/publ-site/tree/70e3fa1fc0801f04f5cab8defb0780a5e523cf71/content%2Fmanual%2Ftemplating.md) -->